@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


:root {
    /* --color-bgPrimary: rgb(204, 255, 212); */
    --color-bgPrimary: #061107;

}

.dark {
    --color-bgPrimary: #061107;
}

body {
    background-color: var(--color-bgPrimary);
}